<html xmlns="http://www.w3.org/1999/xhtml" lang="">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 style="text-align: center">LOVE CALCULATOR</h2>
<hr>


<div style="text-align: center">
    <form action="calculate" method="get" modelattribute="userInfo">
        <p>
            <label>User Name:
                <input type="text" name="userName">

            </label>
        </p>

        <p>
            <label>Crush Name:
                <input type="text" name="crushName">
            </label>

        </p>

        <input type="submit" value="calculate">


    </form>
</div>
</body>
</html>